/* globales */

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 62.5%=10px de 16px */
    box-sizing: border-box;
    background: rgba(144, 146, 145, 0.124);
    font-family: 'Commissioner', sans-serif;
}

:root {
    /*colors*/
    --white: hsl(0, 0%, 100%);
    --primary-M-cian: hsl(176, 50%, 47%);
    --primary-D-cian: hsl(176, 72%, 28%);
    --neutral-black: hsl(0, 0%, 0%);
    --neutral-D-gray: hsl(0, 0%, 48%);
}

a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
}

h1 {
    color: var(--neutral-black);
    font-size: 1.5rem;
}

p {
    color: var(--neutral-D-gray);
}

img {
    max-width: 100%;
}

section {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 auto;
    padding: 0;
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 5px;
}

.btn {
    text-align: center;
    background-color: var(--primary-D-cian);
    font-weight: 300;
    padding: 16px 22px 16px 22px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-M-cian);
}


/* fin de globales*/


/*seccion principal*/

.body {
    position: relative;
}

.navegacion {
    display: flex;
    width: 78%;
    margin-top: 3%;
    top: 0;
    left: 11%;
    justify-content: space-between;
    position: absolute;
}

.navegacion .nav {
    padding: 0;
}

.navegacion a {
    margin-right: 1.5rem;
}

.navegacion a:last-child {
    margin-right: 0;
}

.mastercraft {
    z-index: 33;
    margin-top: -75px;
}

.mastercraft__logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin: -1.5rem 0 0 0rem;
}

.mastercraft__texto {
    text-align: center;
}

.mastercraft__texto h4 {
    margin-top: 0.7rem;
    color: var(--neutral-D-gray);
}

.mastercraft_btn {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 35px;
}

.btn__derecha {
    position: relative;
    display: flex;
}

.icon {
    padding: 0;
    width: 50px;
    position: absolute;
    cursor: pointer;
    margin: -0.2rem 0rem 0rem 0.5rem;
}

.icon__texto.btn {
    background-color: rgba(144, 146, 145, 0.124);
    font-weight: 800;
    padding: 17px 24px 17px 24px;
    margin: 0 0rem 0 1.2rem;
}

.icon__texto a {
    margin-left: 1.9rem;
    color: var(--primary-M-cian);
}

.btn__derecha:hover a {
    color: var(--neutral-D-gray);
}

.btn__derecha:hover svg .circle {
    fill: var(--neutral-D-gray);
}

.btn__derecha:hover svg .path {
    fill: rgba(239, 242, 240, 0.275);
}


/*fin de masterclaft*/


/*inicio number numeros*/

@media screen and (max-width: 767px) and (min-width: 240px) {
    .navigation {
        display: none;
    }
    .navigation.active {
        height: 30%;
        width: 70%;
        position: fixed;
        display: flex;
        background-color: var(--white);
        flex-direction: column;
        z-index: 33;
        text-align: center;
        padding: 0;
        top: 45px;
        left: 45px;
        border-radius: 3%;
        box-shadow: -1px 1px 10px 10px rgba(0, 0, 0, 0.06) inset;
        -webkit-box-shadow: -2px 2px 16px 12px rgba(0, 0, 0, 0.06) inset;
        -moz-box-shadow: -2px 2px 16px 12px rgba(0, 0, 0, 0.06) inset;
    }
    .navigation.active a {
        text-align: left;
        position: relative;
        color: var(--neutral-black);
        font-weight: 600;
        padding: 1rem;
        text-shadow: -1px 1px 10px 10px rgba(0, 0, 0, 0.06) inset;
    }
    .navigation.active span {
        border: 1px solid rgb(225, 220, 220);
    }
    .menuResponsive {
        position: relative;
        width: 20px;
        height: 20px;
        background: url(../images/icon-hamburger.svg);
        background-size: 30px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuResponsive.active {
        z-index: 3;
        background: url(../images/icon-close-menu.svg);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    section.sticky .menuResponsive {
        filter: invert(1);
    }
    .btn {
        padding: 10px 16px 10px 16px;
    }
    /* mastercraft card -- responsive*/
    .mastercraft {
        margin-top: -60px;
        width: 90%;
    }
    .mastercraft__texto {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 15px;
    }
    .icon__texto {
        display: none;
        visibility: hidden;
    }
    .mastercraft_btn {
        align-items: center;
        padding: 0;
        justify-content: space-evenly;
    }
    .mastercraft_btn .btn__izquierda.btn {
        padding: 18px 25px 18px 25px;
    }
    .btn__derecha .icon {
        align-items: center;
        position: relative;
        margin-top: 0.2rem;
    }
    /*fin de card mastercraft*/
}